<!DOCTYPE html>
<br><br><br><br><br><br>
<div id="footer_style" class="container-fluid">
  <div class="container-fluid mt-auto" style="text-align: center;">
    <div class="shadow-lg p-3 mb+5 bg-white rounded">
      <div class="row">
        <div id = "column_style" class="col-md">
          <h5>See my other things on Github!</h5>
          <a
          href="https://github.com/Kader-the-Coder/L1T24/tree/01b54797896d08957f9fa55b8a731b282231c25e"
          target="_blank">
            <img  class="icons" src="/static/images/tm_icon.png" alt="Task manager project" title="Task manager project">
          </a>
          <a
          href="https://github.com/Kader-the-Coder/L1T30/tree/57a46e89652cc38a6376024d554c8477d6a2a471"
          target="_blank">
            <img class="icons" src="/static/images/shoe_icon.png" alt="Shoe inventory project" title="Shoe inventory project">
          </a>
          <a 
          href="https://github.com/Kader-the-Coder/L2T13/tree/034110738fe37854309c82b1ef1d5b3bafa6cac6"
          target="_blank">
            <img class="icons" src="/static/images/book_icon.png" alt="Book manager project" title="Book manager project">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


